doctype 5
html(lang="en")
  head
    title N37 Url Shortener
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    block head
  body
    block content
